<html>
    <head>
        <title>Marbar's BLOG</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Marbar's BLOG</a></h1>
      </div>

      <div>
        <h2><a href="http://www.google.com">Perform a search</a></h1>
        <p>Searches are fun, and can help you find <em>things</em></p>
      </div>

      <div>
        <h2><a href="/admin">Check out the admin tool</a></h2>
        <p>...a great idea if you need to change some <strong>settings</strong>.</p>
      </div>
    </body>
</html>
